body{
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    display:grid
}

.registration{
    display: flex;
}
.r-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.r-right{
    display: flex;
    position: relative;
    margin-left: -2em;
}

.r-container{
    background-color: var(--SixthColor);
    height: 670px;
    width: 20%;
    
}

.flex-container{
    position: relative;
    display: flex;
    flex-direction: column;
    float: left;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
}

.r-title{
    color: var(--BodyColor);
    font-size: 40px;
    margin-top: 2rem;
    font-family: 'Mynerve', cursive;
}

.project-title{
    font-size: 30px;
    margin-bottom: 0.5em;
    margin-top: -1em;
    color: var(--BodyColor);
    font-family: 'Mynerve', cursive;
}

.skills-title{
    font-size: 30px;
    margin-bottom: 0.5em;
    margin-top:-1em;
    color: var(--BodyColor);
    font-family: 'Mynerve', cursive;
}

.flex-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}


.projects-card{
    background-color: var(--FirstColor);
    width: 20rem;
    margin-top: 3em;
    margin-left: 10em;
    padding: 3em;
    height: 230px;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.projects-card:hover{
    transform: scale(1.0);
    transition: transform 0.2s ease-out;
}

.skills-card{
    background-color: var(--FirstColor);
    width: 20rem;
    margin-top: 3em;
    margin-left: 10em;
    padding: 3em;
    height: 230px;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.skills-card:hover{
    transform: scale(1.0);
    transition: transform 0.2s ease-out;
}

.project-list{
    font-size: 20px;
    color: var(--FifthColor);
    font-family: "Poppins", sans-serif;

}

.skill-list{
    font-size: 20px;
    color: var(--FifthColor);
    font-family: "Poppins", sans-serif;
}

.edit-btn{
    background: var(--SixthColor);
    color: var(--FourthColor);
    font-family: inherit;
    border-radius: 8px;
    padding: 12px 28px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    font-family:"Poppins", sans-serif;
    letter-spacing: 1px;
    margin-left: 50rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.edit-btn:hover{
    background-color: var(--SecondColor);
    color: var(--FirstColor);
    transform: scale(0.9);
    transition: transform 0.2s ease-out;
}
