
* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin-left: 20rem;
}

.log-title{
  color: var(--FirstColor);
    font-size: 50px;
    margin-left:10rem;
    margin-top: 2rem;
    font-family: 'Mynerve', cursive;

}

.log-img{
  height:18rem;
  outline-color: var(--FourthColor);
  margin-bottom: -25rem;
  margin-left: -12rem;
  margin-top: 6rem;

  
}