*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
   
}

.site-title{
    font-size: 1.8rem;
    font-family:'Mynerve', cursive;;
}

.nav{
    background-color: var(--FirstColor);
    position: fixed;
    color: var(--FifthColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 2rem;
    width:88rem;
    margin-top: -8.5em;
    margin-left:-15rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}   

.nav ul{
    margin: 2px;
    padding: 4px;
    list-style:none;
    display: flex;
    gap: 1rem;
}

.nav a{
     color: inherit;
     text-decoration: none;
     display: flex;
     align-items: center;
     
}

.nav li{
    margin-right: 20px;
}

.nav li:active{
    color: var(--FourthColor);
}

.nav li:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-out;
}

